.details-page {
    padding-top: 120px;
}

.details-page-error {
    padding-top: 150px;
    font-size: 24px;
}

.details-part2 button {
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.space-between {
    padding-left: 100px;
}

.content {
    background-color: #E8C190FF;
    border-color: #fff5cb;
    border-style: solid;
    border-radius: 10px;
    margin-top: 7px;
    padding:7px;
}
