.details-page {
    padding-top: 120px;
}

.details-page-error {
    padding-top: 150px;
    font-size: 24px;
}

.details-part2 button {
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.space-between {
    padding-left: 100px;
}
