.bto-item-action-card {
    background-color: #f6b86e;
    border-color: #f39d50;
    border-style: solid;
    border-radius: 10px;
    margin-top: 7px;
    padding: 7px;
}

.action-title1 {
    font-size: 1.0em;
}

.action-title2 {
    padding-top: 5px;
    font-size: 0.9em;
}

.action-status {
    font-size: 0.8em;
}

.bto-item-action-card button  {
    margin-left: 40px ;
}
