.bto-item-action-card {
    background-color: #E8C190FF;
    border-color: #fff5cb;
    border-style: solid;
    border-radius: 10px;
    margin-top: 7px;
    padding:7px;
}

.picture-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    border-radius: 10px;
    margin-top: 8px;
}

.picture-info {
    max-height: 250px;
    max-width: 300px;
    border-radius: 10px;
}

.picture-action {
    max-height: 100px;
    max-width: 100px;
    border-radius: 10px;
}

.bto-item-card {
    padding: 7px 12px 7px 12px;
}

.action-title1 {
    font-size: 1.0em;
}

.action-title2 {
    padding-top: 5px;
    font-size: 0.9em;
}

.action-status {
    font-size: 0.7em;
}

.bto-item-action-card button  {
    margin-left: 40px ;
}
