
.content {
    background-color: #E8C190FF;
    border-color: #fff5cb;
    border-style: solid;
    border-radius: 10px;
    margin-top: 7px;
    padding:7px;
}

.bto-user-item-card button  {
    margin-left: 40px ;
}