.header-area {
    display: flex;
    flex-direction: row;
    width: 368px;
    height: 116px;
    top: 0;
    background-color: #FFF5CBFF;
    position: fixed;
}

.header-content {
    display: flex;
    flex-direction: row;
    width: 368px;
    height: 105px;
    top: 8px;
    background-color: #5c7457ff;
    position: fixed;
    border-radius: 10px;

}

a {
    font-size:0.9em;
    padding-right:10px;
    color: lightgrey;
}

.row1 {
    font-size: 22px;
    padding-left: 20px;
    padding-top: 8px;
    width: 500px;
    display: flex;
    justify-content: left;
    height: 80px;
    color: lightgrey;
    position: fixed;
}

.row2 {
    width: 368px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding-top: 80px;
    position: fixed;
}

.row2-login {
    width: 368px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding-top: 60px;
    padding-right: 25px;
}
