.App {
  width: 375px;
  background-color: #FFF5CBFF;
  text-align: left;
  padding:10px;
}

h1 {
  font-size: 1.1em;
  text-align: center;
}

h2 {
  font-size: 1em;
  text-align: center;
}

h3,h4 {
  font-size: 0.9em;
}

p,ul,span {
  font-size: .9em;
}

button {
  background-color: #5c7457ff;
  color: ghostwhite ;
  padding: 3px 15px 3px 15px;
  margin-left: 10px;
  border-radius: 5px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
